%link-reset{
	color: #fff;
	text-decoration: none;
}

%dropdown-box{
	position: absolute;
	top: 3em;
	overflow: hidden;
	background-color: #353535;
}

%section-divide{
	background-color: $primary-color;
	height: 6em;
	text-align: center;
}

%box-title{
	opacity: 0.7;
	font-family: $font-titles;
	font-size: 5rem;
	margin: 2.2em 0 0 0;
	text-align: center;
	width: 100%;
}

%box-link{
	@extend %link-reset;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #fff;
	font-size: 2rem;
	display: block;
	margin: 0.5em auto;
	opacity: 0.8;
	overflow: hidden;
	text-align: center;
	width: 10%;
}