@import url(http://fonts.googleapis.com/css?family=Signika:300,400,600);

body{
	background-image: url(../img/project-background.jpg);
	color: #fff;
	font-family: 'Signika', sans-serif;
	font-weight: 100;
}