%link-reset{
	color: #fff;
	text-decoration: none;
}

%dropdown-box{
	position: absolute;
	top: 3em;
	overflow: hidden;
	background-color: #353535;
}

%section-divide{
	background-color: $primary-color;
	height: 6em;
	text-align: center;
}

