/* line 1, ../scss/images.scss */
#app-1 {
  background-image: url(../img/app-centinel1.jpg);
}

/* line 5, ../scss/images.scss */
#app-2 {
  background-image: url(../img/app-centinel2.jpg);
}

/* line 9, ../scss/images.scss */
#app-3 {
  background-image: url(../img/app-skoon.jpg);
}

/* line 13, ../scss/images.scss */
#site-1 {
  background-image: url(../img/iluminada-header.jpg);
  background-size: 100%;
}

/* line 18, ../scss/images.scss */
#site-2 {
  background-image: url(../img/iluminada-header.jpg);
}

/* line 22, ../scss/images.scss */
#site-3 {
  background-image: url(../img/iluminada-header.jpg);
}
